
.center{
    margin: auto;
    width: 60%;
    
}
body{
    background-color : lightgrey;
}

.changefont{
    font-style: italic;

}

.dontmakenewrow{
    white-space: nowrap;
}

tr {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

tr > td:not(:has(img)) {
    padding-left: 25px;
}
table{
    border-collapse: collapse;
    font-weight: bold;
    font-size: 17.3px;
}
tr:not(:last-child) td {
    border-bottom: 2px solid black;   
}
tr:not(:last-child) td {
    border-bottom:  2px solid black;
}
.makediv{
    width: 911px;
    height: 300px;
}
.makeboldtext{
    width: 230px;
    height: 36px;
}
@media (max-width:500px){
    .center{
        width: 100%;
    }
    
}
